// @-webkit-keyframes kenburns-1 {
//     0% {
//         opacity: 1;
//         -webkit-transform: scale(1.2);
//         transform: scale(1.2);
//     }
//
//     1.5625% { opacity: 1; }
//     23.4375% { opacity: 1; }
//     26.5625% {
//         opacity: 0 ;
//         -webkit-transform: scale(1);
//         transform: scale(1);
//     }
//
//     100% {
//         opacity: 1;
//         -webkit-transform: scale(1.2);
//                 transform: scale(1.2);
//     }
//
//     98.4375% {
//         opacity: 1;
//         -webkit-transform: scale(1.21176);
//         transform: scale(1.21176);
//     }
//
//     100% {
//         opacity: 1;
//     }
// }

// @keyframes kenburns {
//   0% {
//     // top: 0; left: 0;
//     transform: scale(1);
//   }
//   100%   {
//     // top: -100px; left: -100px;
//     transform: scale(10);
//     transform-origin: 50% 65%;
//     // transform: translate3d(0px, -100px, 800px);
//   }
// }

// this seems to speed up towards the end
@keyframes kenburns {
  0%    { transform: translate3d(0px, 0px, 0px) }
  100%  { transform: translate3d(-40px, -40px, 300px) }
  // 100% { transform: translate3d(0px, 0px, 0px) }
}

@keyframes kenburns2 {
  0%   {
  }
  100%  {
    opacity: 0;
  }
  // 100% { transform: translate3d(0px, 0px, 0px) }
}


// @keyframes scale {
//   from { transform: scale(1);  }
//   to   { transform: scale(1.2);  }
// }
//
// @keyframes kenburns-1 {
//     0% { transform: scale(1); }
//     // 1.5625% { opacity: 1; }
//     // 23.4375% { opacity: 1; }
//     // 26.5625% { opacity: 0; transform: scale(1); }
//     98.4375% {
//       transform: scale(1.21176);
//     }
//
//     100% {
//         opacity: 1;
//     }
// }
// @-webkit-keyframes kenburns-2 {
//     23.4375% {
//         opacity: 1;
//         -webkit-transform: scale(1.2);
//         transform: scale(1.2);
//     }
//
//     26.5625% {
//         opacity: 1;
//     }
//
//     48.4375% {
//         opacity: 1;
//     }
//
//     51.5625% {
//         opacity: 0;
//         -webkit-transform: scale(1);
//         transform: scale(1);
//     }
//
//     100% {
//         opacity: 0;
//         -webkit-transform: scale(1.2);
//         transform: scale(1.2);
//     }
// }
// @keyframes kenburns-2 {
//     23.4375% {
//         opacity: 1;
//         -webkit-transform: scale(1.2);
//         transform: scale(1.2);
//     }
//
//     26.5625% {
//         opacity: 1;
//     }
//
//     48.4375% {
//         opacity: 1;
//     }
//
//     51.5625% {
//         opacity: 0;
//         -webkit-transform: scale(1);
//         transform: scale(1);
//     }
//
//     100% {
//         opacity: 0;
//         -webkit-transform: scale(1.2);
//         transform: scale(1.2);
//     }
// }
// @-webkit-keyframes kenburns-3 {
//     48.4375% {
//         opacity: 1;
//         -webkit-transform: scale(1.2);
//         transform: scale(1.2);
//     }
//
//     51.5625% {
//         opacity: 1;
//     }
//
//     73.4375% {
//         opacity: 1;
//     }
//
//     76.5625% {
//         opacity: 0;
//         -webkit-transform: scale(1);
//         transform: scale(1);
//     }
//
//     100% {
//         opacity: 0;
//         -webkit-transform: scale(1.2);
//         transform: scale(1.2);
//     }
// }
// @keyframes kenburns-3 {
//     48.4375% {
//         opacity: 1;
//         -webkit-transform: scale(1.2);
//         transform: scale(1.2);
//     }
//
//     51.5625% {
//         opacity: 1;
//     }
//
//     73.4375% {
//         opacity: 1;
//     }
//
//     76.5625% {
//         opacity: 0;
//         -webkit-transform: scale(1);
//         transform: scale(1);
//     }
//
//     100% {
//         opacity: 0;
//         -webkit-transform: scale(1.2);
//         transform: scale(1.2);
//     }
// }
// @-webkit-keyframes kenburns-4 {
//     73.4375% {
//         opacity: 1;
//         -webkit-transform: scale(1.2);
//         transform: scale(1.2);
//     }
//
//     76.5625% {
//         opacity: 1;
//     }
//
//     98.4375% {
//         opacity: 1;
//     }
//
//     100% {
//         opacity: 0;
//         -webkit-transform: scale(1);
//         transform: scale(1);
//     }
// }
// @keyframes kenburns-4 {
//     73.4375% {
//         opacity: 1;
//         -webkit-transform: scale(1.2);
//         transform: scale(1.2);
//     }
//
//     76.5625% {
//         opacity: 1;
//     }
//
//     98.4375% {
//         opacity: 1;
//     }
//
//     100% {
//         opacity: 0;
//         -webkit-transform: scale(1);
//         transform: scale(1);
//     }
// }
